<div class="banner">
  <div class="container">
    <p>Un site vraiment super poilant.</p>
    <h1>Trouve ton poilu!</h1>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @poilus.each do |poilu| %>
    <div
    class="card-category"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    <%= poilu.photo.attached? == true ? "url('#{cl_image_path(poilu.photo.key, height: 300, width: 400, crop: :fill)}')" : "url(#{image_path("default.jpg")})" %>"
    >
      <%= link_to poilu.name, poilu_path(poilu) %>
    </div>
    <% end %>
  </div>
</div>



