<div class="poilubanner">
  <div class="container">
    <h1>Trouve ton <strong>poilu</strong>!</h1>
    <p>Un site poilant...</p>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @poilus.each do |poilu| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(poilu.photo.key, height: 300, width: 400, crop: :fill) if poilu.photo.attached? == true %> ')">
      <%= link_to poilu.name, poilu_path(poilu) %>
    </div>
    <% end %>
  </div>
</div>


 <!-- style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1528362883003-5cf2b2f55282?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');" -->
