.header-profile {
  width: 100%;
  font-size: 1em;
  padding: 30px;
  text-align: center;
  background-color: rgb(220,220,220);
  color: white;
  font-family: 'Quicksand', "sans-serif";
}

.header-profile h1 {
  font-size: 2em;
}

.main-box {
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 100%;
  padding: 20px;
}

.my-poilus {
  border: 4px solid #7001FF;
  padding: 15px;
  border-radius: 15px;
}

.poil-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 5px;
}

.poilu-category {
  padding: 5px;
  margin: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 20px;
  i {
    font-size: 18px;
    margin-right: 5px;
  }
  h4 {
    text-align: left;
    text-transform: capitalize;
    font-family: 'Quicksand', "sans-serif";
    margin-left: 10px;
    font-size: 1em;
    color: #7001FF;
  }
}

.added-at {
  font-size: 0.6em;
  margin-bottom: 10px;
  color: rgb(150,150,150);
  margin-left: 10px;
}

.mini-banner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.poilu-image > img {
  background-size: cover;
  background-position: center;
}

.poilu-boxes {
  display: flex;
  h3 {
    text-align: center;
    font-family: 'Quicksand', "sans-serif";
  }
}

.poilus-infos {
  display: flex;
  flex-direction: column;
}


.booked p {
  color: white;
}

.my-bookings {
  border: 4px solid #7001FF;
  padding: 15px;
  border-radius: 15px;
}

.booking-category {
  text-align: left;
  padding: 5px;
}

.booking-category > h4 {
  margin-top: 10px;
}

.booking-category > p {
  font-size: 0.7em;
  margin-bottom: 10px;
}

.booking-category > p > strong {
  color: #7001FF;
  text-transform: capitalize;
  font-weight: bolder;
}

.reserved {
  color: white;
  background-color: #7001FF;
  padding: 5px;
  margin: 10 0px;
  text-align: center;
  font-size: 0.8em;
}

.font-size {
  font-size: 0.7em;
}

.button-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7001FF;
  padding: 10px 20px;
}

.purpleBorder {
  border: 1px solid #7001FF;
}

.center-align {
  text-align: center;
}

.button-booking a {
  color: white;
  margin-right: 10px;
  font-size: 0.6em;
  &:hover {
  text-decoration: none;
  color: pink;
  }
}

.small-resa {
  font-size: 0.6em;
  margin: 20px;
  text-align: justify;
}

.return-margin {
  margin: 30px;
}
