<div class="form-container">
 <%= simple_form_for [@poilu, @booking] do |f| %>
    <h2>Choisissez les dates de location</h2>
    <% if @booking.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @booking.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.input :end_date, as: :date_time_picker, :label => "tes2"%>
    <%= f.submit "Suivant", class: "btn btn-ghost" %>
  <% end %>
</div>
