.cards {
  margin: 30px;
}

.card-category {
  border-bottom: 1px, solid, white;
  color: white;
  text-transform: uppercase;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  height: 180px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
}

.card-category:hover {
  opacity: 90%;
}


.card-category a {
    font-family: upgrade-lights,sans-serif;
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
    padding-right: 30px;
    margin: 0;
    &:hover {
      color: rgb(190,190,190);
      border-top: 1px solid rgb(190,190,190);
    }
  }
