.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
}

.navbar-lewagon-white {
  background-color: white;
}

.avatar {
  width: 40px;
  height: 40px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  display: flex;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.dropdown-item {
  font-family: 'Quicksand', "sans-serif";
  color: #b677f3;
  &:hover {
  color: #f3b9eb;
  border-radius: 10px;
  }
}

.dropdown-item a {
  padding: 0;
}

.dropdown-menu {
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: white;
}
