body,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.banner {
  background: image-url('banner.jpeg');
  background-size: cover;
  background-position: center;
  padding: 300px 0;
}

.banner h1 {
  margin: 0 auto;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  width: 670px;
  font-family: 'Playfair Display', serif;
  position: relative;

}

.poil {
  position: absolute;
  top: 375px;
  right: 540px;
  z-index: 5;
}

.banner p {
  font-size: 30px;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
