.search {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px;
  align-items: center;
}

.form-control {
  border-radius: 30px;
  margin-bottom: 15px;
}

.btn-search {
  text-align: center;
}
